apiVersion: apps/v1beta2
kind: Deployment
metadata:
  name: {{ template "cp-kafka-connect.fullname" . }}
  labels:
    app: {{ template "cp-kafka-connect.name" . }}
    chart: {{ template "cp-kafka-connect.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ template "cp-kafka-connect.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ template "cp-kafka-connect.name" . }}
        release: {{ .Release.Name }}
      {{- if .Values.prometheus.jmx.enabled }}
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: {{ .Values.prometheus.jmx.port | quote }}
      {{- end }}
    spec:
      {{- if .Values.downloadPlugins }}
      initContainers:
      - name: download-plugins
        image: busybox
        command:
        - sh
        - -c
        - |
          set -ex
          mkdir -p /plugins/tar
          cd /plugins/tar
          {{- range .Values.downloadPlugins }}
          echo {{ . }} >> plugins
          {{- end }}
          touch loaded
          while read url
          do
            if ! grep -q $url loaded; then
              wget $url
              filename="$(echo $url | rev | cut -d/ -f 1 | rev)"
              tar -xvf $filename -C ../
              rm $filename
              echo $url >> loaded
            fi
          done < plugins
          rm plugins
        volumeMounts:
        - mountPath: /plugins
          name: connect-plugins
      {{- end }}
      containers:
        {{- if .Values.prometheus.jmx.enabled }}
        - name: prometheus-jmx-exporter
          image: "{{ .Values.prometheus.jmx.image }}:{{ .Values.prometheus.jmx.imageTag }}"
          command:
          - java
          - -XX:+UnlockExperimentalVMOptions
          - -XX:+UseCGroupMemoryLimitForHeap
          - -XX:MaxRAMFraction=1
          - -XshowSettings:vm
          - -jar
          - jmx_prometheus_httpserver.jar
          - {{ .Values.prometheus.jmx.port | quote }}
          - /etc/jmx-kafka-connect/jmx-kafka-connect-prometheus.yml
          ports:
          - containerPort: {{ .Values.prometheus.jmx.port }}
          resources:
{{ toYaml .Values.prometheus.jmx.resources | indent 12 }}
          volumeMounts:
          - name: jmx-config
            mountPath: /etc/jmx-kafka-connect
        {{- end }}
        - name: {{ template "cp-kafka-connect.name" . }}-server
          image: "{{ .Values.image }}:{{ .Values.imageTag }}"
          imagePullPolicy: "{{ .Values.imagePullPolicy }}"
          {{- if .Values.pluginVolume.enabled }}
          volumeMounts:
          - mountPath: {{ .Values.pluginVolume.path }}
            name: connect-plugins
          {{- end }}
          ports:
            - name: kafka-connect
              containerPort: {{ .Values.servicePort}}
              protocol: TCP
            {{- if .Values.prometheus.jmx.enabled }}
            - containerPort: {{ .Values.jmx.port }}
              name: jmx
            {{- end }}
          resources:
{{ toYaml .Values.resources | indent 12 }}
          env:
            - name: CONNECT_REST_ADVERTISED_HOST_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: CONNECT_PLUGIN_PATH
              value: {{ template "cp-kafka-connect.pluginPath" . }}
            - name: CONNECT_BOOTSTRAP_SERVERS
              value: {{ template "cp-kafka-connect.kafka.bootstrapServers" . }}
            - name: CONNECT_GROUP_ID
              value: {{ template "cp-kafka-connect.groupId" . }}
            - name: CONNECT_CONFIG_STORAGE_TOPIC
              value: {{ template "cp-kafka-connect.fullname" . }}-config
            - name: CONNECT_OFFSET_STORAGE_TOPIC
              value: {{ template "cp-kafka-connect.fullname" . }}-offset
            - name: CONNECT_STATUS_STORAGE_TOPIC
              value: {{ template "cp-kafka-connect.fullname" . }}-status
            - name: CONNECT_KEY_CONVERTER_SCHEMA_REGISTRY_URL
              value: {{ template "cp-kafka-connect.cp-schema-registry.service-name" .}}
            - name: CONNECT_VALUE_CONVERTER_SCHEMA_REGISTRY_URL
              value: {{ template "cp-kafka-connect.cp-schema-registry.service-name" .}}
            - name: CONNECT_KEY_CONVERTER
              value: {{ .Values.connectKeyConverter }}
            - name: CONNECT_VALUE_CONVERTER
              value: {{ .Values.connectValueConverter }}
            - name: CONNECT_INTERNAL_KEY_CONVERTER
              value: {{ .Values.connectInternalKeyConverter }}
            - name: CONNECT_INTERNAL_VALUE_CONVERTER
              value: {{ .Values.connectInternalValueConverter }}
            {{- if or .Values.ssl.enabled .Values.global.kafka.ssl.enabled }}
            - name: CONNECT_SECURITY_PROTOCOL
              value: SSL
            - name: CONNECT_SSL_TRUSTSTORE_LOCATION
              value: /etc/kafka/secrets/{{ template "cp-kafka.ssl.client.truststoreFile" . }}
            - name: CONNECT_SSL_TRUSTSTORE_PASSWORD
              value: {{ template "cp-kafka.ssl.client.truststorePassword" . }}
            {{- end }}
            {{- if .Values.jmx.port }}
            - name: KAFKA_JMX_PORT
              value: "{{ .Values.jmx.port }}"
            {{- end }}
          {{- if or .Values.ssl.enabled .Values.global.kafka.ssl.enabled }}
          volumeMounts:
          - name: ssl
            mountPath: "/etc/kafka/secrets"
          {{- end }}
      {{- if .Values.imagePullSecrets }}
      imagePullSecrets:
{{ toYaml .Values.imagePullSecrets | indent 8 }}
      {{- end }}
      volumes:
      {{- if or .Values.ssl.enabled .Values.global.kafka.ssl.enabled }}
      - name: ssl
        secret:
          secretName: {{ template "cp-kafka-connect.fullname" . }}-ssl-secret
      {{- end }}
      {{- if .Values.prometheus.jmx.enabled }}
      - name: jmx-config
        configMap:
          name: {{ template "cp-kafka-connect.fullname" . }}-jmx-configmap
      {{- end }}
      {{- if .Values.pluginVolume.enabled }}
      - name: connect-plugins
        persistentVolumeClaim:
          claimName: {{ template "cp-kafka-connect.fullname" . }}-plugins
      {{- end }}
          
        
