{{- if .Values.serviceAccount.create }}
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app: {{ include "cp-control-center.name" . }}
    chart: {{ include "cp-control-center.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
  {{- with .Values.serviceAccount.annotations }}
annotations:
  {{ toYaml . | indent 4 }}
  {{- end }}
name: {{ .Values.serviceAccount.name }}
  {{- end }}